section {
    margin: 50px 100px;
}

main {
    position: relative;
    background: lightgray;
    width: 400px;
    height: 400px;
    margin: 50px 100px;
    padding: 10px 10px 10px 40px;
}

#linesContainer {
    position: absolute;
    z-index: 40;
}

#binsContainer {
    /* background: magenta; */
    position: relative;
    width: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 350px;
    z-index: 50;
}

#labelsContainer {
    /* background: lime; */
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 40px;
}

input[type=range] {
    width: 400px;
}
