section {
    margin: 50px 100px;
}

main {
    background: lightgray;
    width: 400px;
    height: 400px;
    margin: 50px 100px;
    padding: 10px;
}

#binsContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 350px;
}

#labelsContainer {
    /* background: lime; */
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 40px;
}

input[type=range] {
    width: 400px;
}